<ng-container *ngIf="shouldDisplayNavigation(); else loginComponent">
  <div class="mainFrame">
    <nav>
      <img src="assets/logo_small.svg" class="logo_small" alt="Logo_small_sms_satteins"  />
      <div class="navigationContainer">
        <a [routerLink]="'/dashboard'">
          <img [src]="'assets/icons/house.svg'" alt="House Icon" />
        </a>
        <a [routerLink]="'/classes'">
          <img [src]="'assets/icons/classes.svg'" alt="Classes Icon" />
        </a>

       
      </div>
      <a class="logout" [routerLink]="'/login'">
        <img [src]="'assets/icons/logout.svg'" alt="Profile Icon" />
      </a>
    </nav>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</ng-container>

<ng-template #loginComponent>
  <app-login></app-login>
</ng-template>

