@keyframes rotateCircle {
    0%, 100% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

.mainFrame {
    height: 100%;
    min-height: 100vh;
    display: flex;
    background-color: #348888;
    nav{
        height: 100%;
        width: 7%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
        .logo_small{
            margin-top: 2.188em;
        }
        .navigationContainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 90vh;
            a{
                margin-bottom: 3em;
                display: inline-block;
                position: relative;
                text-decoration: none;
                overflow: visible; // Stellt sicher, dass der Kreis nicht abgeschnitten wird

                &:hover::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 2.5em; // Größe des Kreises angepasst an das Bild
                    height: 2.5em; // Größe des Kreises angepasst an das Bild
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    border: 2px dashed white; // Farbe des Kreises
                    animation: rotateCircle 2s infinite linear;
                    pointer-events: none;
                  }
                img{
                    height: 90%;
                    width: 90%;
                    display: block;
                }
                
            }
            
        }
        .logout{
            align-self: bottom;
            margin-bottom: 5em;
            display: inline-block;
            position: relative;
            text-decoration: none;
            overflow: visible; // Stellt sicher, dass der Kreis nicht abgeschnitten wird
            &:hover::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 2.5em; // Größe des Kreises angepasst an das Bild
                height: 2.5em; // Größe des Kreises angepasst an das Bild
                transform: translate(-50%, -50%);
                border-radius: 50%;
                border: 2px dashed white; // Farbe des Kreises
                animation: rotateCircle 2s infinite linear;
                pointer-events: none;
              }
            img{
                height: 90%;
                width: 90%;
                display: block;
            }
        }
    }
    main{
        height: 100%;
        width: 93%;
        background-color: white;
        border-radius: 20px 0 0 20px;
        min-height: 100vh;
        display: flex;
         flex-direction: column;
    }
   
  

}
