<div id="headlineContainer">
  <h2>CLASS {{ class?.name }}</h2>
  <p>Here you can see all class members and add/edit the points for the grade</p>
</div>

<div id="actionContainer">
  <button (click)="toggleSemester()" id="semesterSwitch"> {{ semesters[currentSemester]  }}</button>
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" [(ngModel)]="isEditEnabled" id="flexSwitchCheckDefault">
    <label class="form-check-label" for="flexSwitchCheckDefault">Edit</label>
  </div>
</div>
<div class="contentContainer">
  <div class="actionContainer">
      <ng-select class="custom" [(ngModel)]="selectedSubject" (change)="onSubjectChange()">
        <ng-option *ngFor="let subject of subjects" [value]="subject.pkSubject">{{ subject.name }}</ng-option>
      </ng-select>
      <button (click)="navigateAddAssignment()" id="addAssignment">Add Assignment</button>
    </div>
  <nav>
    <div class="assignmentTypes" *ngFor="let assignmentType of assignmentTypes | keyvalue">
      <button
        (click)="toggleAssignmentType(assignmentType.key)"
        [ngStyle]="{ 'text-decoration': !isTotalActive && currentAssignment.toString() === assignmentType.key ? 'underline' : 'none' }"
        >
        {{ assignmentType.value }}
      </button>
    </div>
    <div class="assignmentTypes">
      <button
        (click)="toggleTotal()"
        [ngStyle]="{ 'text-decoration': isTotalActive ? 'underline' : 'none' }"
        >
        Total
      </button>
    </div>
  </nav>

  <div class="table">
    <div class="headerTable" >
      <div>Name</div>
      <div *ngFor="let assignment of assignments">{{ assignment.creationDate | date:'dd.MM.yy'}}</div>
    </div>
   
    <div class="contentTable" >
      <div class="studentColumn" *ngFor="let student of students">
        <div class="studentName">{{ student.name }}</div>
        <div *ngIf="isTotalActive">
          <li *ngFor="let type of assignmentTypesFilter; let i = index">
             {{ totalPointsByType[i] }} points
          </li>
        </div>
        
        <div  class="assignments" *ngFor="let assignment of assignments">
          <div class="noEditMode" *ngIf="!isEditEnabled; else editModeContent">
               <div>{{ getPointsForStudentAssignment(student, assignment) }}</div>
          </div>
          <ng-template #editModeContent>
            <input type="number" 
                   [value]="getPointsForStudentAssignment(student, assignment)" 
                   (blur)="updateStudentAssignment(student, assignment, $event, getStudentAssignmentId(student, assignment) )"
                   [name]="'studentPoint-' + student.pkStudent + '-' + assignment.assignmentPk">
          </ng-template>
          / {{ assignment.reachablePoints }}
         
        </div>
      </div>
    </div>
  </div>

</div>


