
#headlineContainer{
    h2{
        margin: 0;
      font-size: 40px;
        font-weight: 500;
        color: #348888;
      padding: 70px 0 0 35px;
    }
    p{
      padding: 0;
      margin: 0 0 0 35px;
      font-size: 15px;
      font-weight: 300;
      color: #348888;
      opacity: 0.7;
    }

}
#actionContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 35px;
    margin-top: 35px;
    margin-right: 35px;
    #semesterSwitch{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
        width: 175px;
        height: 40px;
        align-items: center;
        border: 2px solid #FA7F08;
        font-size: large;
        background-color: #FA7F08;
        color: white;
        &:hover {
            background-color: #fff;
            color: #FA7F08;
          }
    }
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FA7F08;
        width: 175px;
        border-radius: 10px;
        input{
            height: 20px;
        }
        label{
            margin-left: 10px;
            color: #fff;
            font-size: large;
        }
    }

}

.contentContainer{
    background-color: #348888;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 35px;
    height: 72vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    .actionContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 35px;
        margin-right: 35px;
        margin-top: 35px;
        .ng-select.custom::ng-deep .ng-select-container  {
            min-height: 0px;
            background-color: rgba(255, 255, 255, 0);
            border: none;
            color: #fff;
            .ng-value-container{
                padding: 0;
              .ng-value{
                font-size: 30px;
                padding: 0 5px 0 0;
              }
            }
            .ng-clear-wrapper{
              display: none;
            }
            .ng-arrow-wrapper{
                .ng-arrow{
                    border-color: #fff transparent transparent;
                }
            }
            .ng-dropdown-panel, .ng-select-bottom::ng-deep{
               border-radius: 10px;
               .ng-dropdown-panel-items{
                border-radius: 20px;
               }
            }
        }


        #addAssignment{
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 10px;
            width: 175px;
            height: 40px;
            align-items: center;
            border: 2px solid #FA7F08;
            font-size: large;
            background-color: #FA7F08;
            color: white;
            &:hover {
                background-color: #fff;
                color: #FA7F08;
              }
        }
    }

    nav{
        display: flex;
        flex-direction: row;
        gap: 35px;
        margin-left: 35px;
        .assignmentTypes{
            button{
                border-radius: 10px;
                border: none;
                background-color: rgba(255, 255, 255, 0);
                color: #fff;
                font-size: 15px;
                padding: 5px;
                padding: 0;

            }

        }
    }
    .table{
        //enable scrolling
        overflow-y: auto;       
        scrollbar-color: #FA7F08 #348888;
        margin-top: 35px;
        margin-left: 35px;
        width: 96.5%;
        .headerTable{
            background-color: #fff;
            border-radius: 10px;
            height: 5vh;
            display: flex;
            align-items: center;
            gap: 165px;
            padding-left: 35px;
            padding-right: 35px;
            opacity: 0.6;
            div{
                opacity: 1;
                color: #348888;
            }
            .headerColumn {
              display: flex;
              gap: 3%;
              div{
                min-width: 150px;
              }
            }
        }
        .contentTable{
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            gap: 10px;
            .totalColumn{
              display: flex;
              gap: 35%;
              opacity: 1;
              color: white;
              background-color: transparent;
              align-items: center;
              div{
                min-width: 40px;
                .custom::ng-deep .ng-select-container  {
                  min-height: 0px;
                  width: 70px;
                  background-color: rgba(255, 255, 255, 0);
                  border: none;
                  color: #fff;
                  .ng-value-container{
                      padding: 0;
                    .ng-value{
                      font-size: 1rem;
                      padding: 0 5px 0 0;
                    }
                  }
                  .ng-clear-wrapper{
                    display: none;
                  }
                  .ng-arrow-wrapper{
                      .ng-arrow{
                          border-color: #fff transparent transparent;
                      }
                  }
                  .ng-dropdown-panel, .ng-select-bottom::ng-deep{
                     border-radius: 10px;
                     width: 100%;
                     .ng-dropdown-panel-items{
                      border-radius: 20px;
                     }
                  }
              }
              }
            }
            .studentColumn{
                display: flex;
                flex-direction: row;
                padding-left: 35px;
                align-items: center;
                background-color: rgba(255, 255, 255, 0.5); /* White background with 0.5 opacity */
                height: 4.5vh;
                border-radius: 10px;

              .studentName{
                min-width: 230px;
                background-color: rgba(255, 255, 255, 0);
                color: white;

              }
                .assignments{
                  background-color: rgba(255, 255, 255, 0);
                  color: white;
                  display: flex;
                  flex-direction: row;
                  gap: 5px;
                  margin-right: 170px;
                  .noEditMode{
                    margin-left: 10px;
                  }
                  input{
                    width: 45px;
                    border-radius: 10px;
                    border: 1px solid #FA7F08;
                  }
                }

            }
        }
    }


}
