<div class="background">
  <div id="leftSide">
    <div id="part1">
      <img ngSrc="assets/logo.svg" class="logo" alt="Logo_sms_satteins" height="72" width="306"/>
    </div>
    <div id="part2">
      <div id="welcome_text">
        <h2>WELCOME</h2>
        <h3>BACK</h3>
      </div>
    </div>
    <div id="part3">
      <img ngSrc="assets/walking_man.svg" class="walking_man" alt="walking_man" height="706" width="880" loading="lazy">
    </div>

  </div>
  <div id="rightSide">
    <div id="inputContainer">
      <div class="headlineContainer">
        <h2>LOGIN</h2>
        <p>Welcome back! Please login to your account</p>
      </div>
      <div class="formContainer">
        <app-custom-input-field label="Email" type="text" ></app-custom-input-field>
        <app-custom-input-field label="Password" type="password" ></app-custom-input-field>
      </div>
      <div class="buttonContainer">
        <button routerLink="/dashboard">LOGIN</button>
      </div>
    </div>

  </div>

</div>



