<div class="background">
  <div id="leftSide">
    <div id="part1">
      <img ngSrc="assets/logo.svg" class="logo" alt="Logo_sms_satteins" height="72" width="306"/>
    </div>
    <div id="part2">
      <div id="welcome_text">
        <h2>WELCOME</h2>
        <h3>BACK</h3>
      </div>
    </div>
    <div id="part3">
      <img ngSrc="assets/walking_man.svg" class="walking_man" alt="walking_man" height="706" width="880" loading="lazy">
    </div>

  </div>
  <div id="rightSide">
    <div id="inputContainer">
      <div class="headlineContainer">
        <h2>LOGIN</h2>
        <p>Welcome back! Please login to your account</p>
      </div>
      <div class="formContainer">
        <!-- In your component .html file -->
        <form (ngSubmit)="onSubmit()">
          <input type="email" [(ngModel)]="loginData.email" name="email" placeholder="Email">
          <input type="password" [(ngModel)]="loginData.password" name="password" placeholder="Password">
          <button type="submit">Login</button>
        </form>

      </div>
      <div class="buttonContainer">

      </div>
    </div>

  </div>

</div>



