<h2 class="headline">DASHBOARD</h2>

<div class="welcome-container">
    <div id="welcome-text-container">
        <div *ngIf="selectedUser">
            <h2>GOOD DAY,&nbsp;</h2><h3>{{ selectedUser.name }}</h3>
        </div>
        <h3>Have a nice {{ currentDay }}</h3>
        
    </div>
    <div id="welcome-picture-container">
        <img ngSrc="assets/exploring_man.svg" class="exploring_man" alt="exploring_man" height="368" width="385" loading="lazy">

    </div>
</div>
<div id="classes-list">
    <h3>CLASSES</h3>
    <app-classes-list [classBackgroundColor]="'#FFFFFF'" [classTextColor]="'#FA7F08;'"></app-classes-list>
</div>

